<div class="background">
    <div style="width: 100%;height: 50vh;">
        <!-- shadow p-3 mb-5 bg-light rounded -->
        <div  class="loginDshboard ">

            <div style="padding:10px; text-align: center;">
                <h1>Aexcsas</h1>
                
            </div>
            <div style="padding: 10px;">
                <form>
                    <div class="form-group">
                        <label for="username">Uername</label>
                        <br/>
                        <input type="text" id="username"  class="form-control" /> 
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label><br/>
                        <input type="password" id="password"  class="form-control" /> 
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <br/>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            
        </div>
    </div>
</div>